<h1><%= t ".head" %> <%= @booking.status %></h1>

<p>
  <%= t ".content1" %> <%= @booking.user.name %> <%= t ".content2" %>
</p>
<p>
  <%= t ".content3" %> <%= @booking.tour.name %> <%= t ".content4" %>
</p>
