<% @bookings.each do |booking| %>
  <div class="row">
    <div class="col-md-10">
      <div>
        <p><%= booking.tour.name %></p>
      </div>
    </div>
    <div class="row col-md-2">
      <%= form_for booking, url: admin_booking_tours_path do |f| %>
        <%= f.hidden_field :id, value: booking.id %>
        <%= f.submit t("accept"), class: "btn btn-success" %>
        <%= f.submit t("reject"), class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
<% end %>
