<footer class="footer">
  <small>
    <%= t ".the" %> <%= link_to t(".link1"), "#" %>
    <%= t ".by" %> <%= link_to t(".link2"), "#" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".link3"),"#" %></li>
      <li><%= link_to t(".link4"), "#" %></li>
      <li><%= link_to t(".link5"), "#" %></li>
    </ul>
  </nav>
</footer>
